# Lists, Tuples, Sets, Dictionaries

# Create and manipulate lists, tuples, sets, and dictionaries.

# Lists

1. create a list

In [6]:
colors = ["red", "green", "blue", "yellow"]  # Creating a list of colors
print(colors)  # Printing the list of colors

['red', 'green', 'blue', 'yellow']

2. Appending to a List

In [9]:
my_list = []  # Creating an empty list
my_list.append("apple")  # Adding "apple" to the list
my_list.append("banana")  # Adding "banana" to the list
my_list.append("cherry")  # Adding "cherry" to the list
print("List after appending:", my_list)  # Printing the list

List after appending: ['apple', 'banana', 'cherry']

3. Popping from a List

In [14]:
fruits = ["apple", "banana", "cherry", "date"]  # Creating a list of fruits
print("Original list:", fruits)  # Printing the original list

last_fruit = fruits.pop()  # Removing the last item from the list and storing it in last_fruit
print("Popped item:", last_fruit)  # Printing the popped item

print("List after popping:", fruits)  # Printing the list after popping the last item

Original list: ['apple', 'banana', 'cherry', 'date']
Popped item: date
List after popping: ['apple', 'banana', 'cherry']

4. Lists of strings

In [18]:
fruits = ["apple", "banana", "cherry", "date"]  # Creating a list of fruits
print("Fruits:", fruits)  # Printing the list of fruits

Fruits: ['apple', 'banana', 'cherry', 'date']

5. Nested lists

In [24]:
nested_list = [[1, 2, 3], ["a", "b", "c"], [True, False]]  # Creating a nested list
print("Nested List:", nested_list)  # Printing the nested list

Nested List: [[1, 2, 3], ['a', 'b', 'c'], [True, False]]

# Tuples

1. Basic Tuple

In [27]:
numbers = (1, 2, 3, 4, 5)  # Creating a tuple
print("Basic Tuple:", numbers)  # Printing the tuple

Basic Tuple: (1, 2, 3, 4, 5)

2. Tuple of Strings

In [34]:
names = ("Alice", "Bob", "Charlie")  # Creating a tuple of names
print("Tuple of Names:", names)  # Printing the tuple

Tuple of Names: ('Alice', 'Bob', 'Charlie')

3. Mixed Data Types - Tuples

In [40]:
mixed_tuple = (1, "hello", 3.14, False)  # Creating a tuple with mixed data types
print("Mixed Data Types Tuple:", mixed_tuple)  # Printing the tuple

Mixed Data Types Tuple: (1, 'hello', 3.14, False)

4. Nested Tuples

In [42]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))  # Creating a nested tuple
print("Nested Tuple:", nested_tuple)  # Printing the nested tuple

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

5. Tuples Unpacking

In [44]:
coordinates = (10, 20)  # Creating a tuple named 'coordinates' with two elements
x, y = coordinates  # Unpacking the tuple into two variables, x and y
print("X Coordinate:", x)  # Printing the value of x
print("Y Coordinate:", y)  # Printing the value of y

X Coordinate: 10
Y Coordinate: 20

# Sets

1. Basic sets

In [52]:
numbers = {1, 2, 3, 4, 5}  # Creating a set named 'numbers'
print("Basic Set:", numbers)  # Printing the created set

Basic Set: {1, 2, 3, 4, 5}

2. Set of Strings

In [54]:
fruits = {"apple", "banana", "cherry", "banana"} # Duplicates will be ignored
print("Set of Fruits:", fruits)

Set of Fruits: {'banana', 'apple', 'cherry'}

3. Mixed Data Types

In [56]:
mixed_set = {1, "hello", 3.14, (1, 2)}  # Creating a set with mixed data types
print("Mixed Data Types Set:", mixed_set)  # Printing the created set

Mixed Data Types Set: {1, (1, 2), 3.14, 'hello'}

4: Set Comprehension

In [59]:
squares_of_evens = {x**2 for x in range(11) if x % 2 == 0}
print("Squares of Even Numbers:", squares_of_evens)

Squares of Even Numbers: {0, 64, 4, 36, 100, 16}

5: Checking Membership and Subsets

In [66]:
set_x = {1, 2, 3}
set_y = {1, 2, 3, 4, 5}

# Checking membership
is_two_in_x = 2 in set_x
is_four_in_x = 4 in set_x

# Checking if set_x is a subset of set_y
is_subset = set_x.issubset(set_y)

# Displaying the results
print("Is 2 in set_x?", is_two_in_x)
print("Is 4 in set_x?", is_four_in_x)
print("Is set_x a subset of set_y?", is_subset)

Is 2 in set_x? True
Is 4 in set_x? False
Is set_x a subset of set_y? True

# Dictionaries

1. Basic Dictionary

In [72]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print("Basic Dictionary:", person)

Basic Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

2. Accessing Values

In [75]:
fruits = {
"apple": 2,
"banana": 5,
"cherry": 10
}
print("Number of bananas:", fruits["banana"])

Number of bananas: 5

3. Adding and Updating Values

In [78]:
car = {
"brand": "Toyota",
"model": "Camry",
"year": 2020
}
car["color"] = "blue"
car["year"] = 2021
print("Updated Car Dictionary:", car)

Updated Car Dictionary: {'brand': 'Toyota', 'model': 'Camry', 'year': 2021, 'color': 'blue'}

4. Dictionary Methods

In [84]:
employee = {
    "name": "Bob",
    "age": 25,
    "department": "HR"
}

keys = employee.keys()
values = employee.values()
items = employee.items()

print("Keys:", keys)
print("Values:", values)
print("Items:", items)

Keys: dict_keys(['name', 'age', 'department'])
Values: dict_values(['Bob', 25, 'HR'])
Items: dict_items([('name', 'Bob'), ('age', 25), ('department', 'HR')])

5. Dictionary Comprehension

In [86]:
squares = {x: x**2 for x in range(1, 6)}
print("Dictionary of Squares:", squares)

Dictionary of Squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Understand the differences between these data structures

In [95]:
# Creating a list
fruits = ["apple", "banana", "cherry"]

# Creating a tuple
coordinates = (10, 20)

# Creating a set
unique_numbers = {1, 2, 3, 4, 5}

# Creating a dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(fruits)
print(coordinates)
print(unique_numbers)
print(person)

['apple', 'banana', 'cherry']
(10, 20)
{1, 2, 3, 4, 5}
{'name': 'Alice', 'age': 30, 'city': 'New York'}

Lists

Order: Ordered  
Mutability: Mutable
Duplicates: Allowed
Access: Index-based
Use cases: Collection of items.

Tuples

Order: Ordered  
Mutability: Immutable
Duplicates: Allowed
Access: Index-based	
Use cases: Fixed collections

Sets:

Order:  Unordered 
Mutability: Mutable
Duplicates: Not allowed
Access: No index access
Use cases: Unique items, membership tests

Dictionaries:

Order: Unordered (insertion order maintained in 3.7+) 
Mutability: Mutable
Duplicates: Keys must be unique
Access: Key-based access
Use cases: Key-value associations

# Perform operations like indexing, slicing, adding, removing elements.

1. Lists - Indexing, Slicing, Adding elements, Removing Elements

In [99]:
# Indexing - Lists
fruits = ["apple", "banana", "cherry"]
first_fruit = fruits[0] # Accessing the first element
print("First fruit:", first_fruit)

First fruit: apple

In [101]:
# Slicing - Lists
first_two_fruits = fruits[:2]
print("First two fruits:", first_two_fruits)

First two fruits: ['apple', 'banana']

In [103]:
# Adding Elements - Lists
fruits.append("orange") # Adding to the end
fruits.insert(1, "kiwi") # Inserting at index 1
print("Updated fruits list:", fruits)

Updated fruits list: ['apple', 'kiwi', 'banana', 'cherry', 'orange']

In [105]:
# Removing Elements - Lists
fruits.remove("banana") # Remove by value
popped_fruit = fruits.pop() # Remove the last element and return it
print("Removed fruit:", popped_fruit)
print("Fruits after removal:", fruits)

Removed fruit: orange
Fruits after removal: ['apple', 'kiwi', 'cherry']

2. Tuples - Indexing, Slicing, Adding elements, Removing Elements

In [107]:
# Indexing
coordinates = (10.0, 20.0)
x = coordinates[0] # Accessing the first element
print("X coordinate:", x)

X coordinate: 10.0

In [114]:
# slicing
first_coordinate = coordinates[:1]
print("First coordinate:", first_coordinate)

First coordinate: (10.0,)

In [116]:
# Adding elements
new_coordinates = coordinates + (30.0,)
print("New coordinates tuple:", new_coordinates)

New coordinates tuple: (10.0, 20.0, 30.0)

In [118]:
# Removing Elements
coordinates = (10.0, 20.0, 30.0)
updated_coordinates = tuple(x for x in coordinates if x != 20.0)
print("Updated coordinates tuple:", updated_coordinates)

Updated coordinates tuple: (10.0, 30.0)

3. Sets - Indexing, Slicing, Adding elements, Removing Elements

In [121]:
# Adding Elements
unique_fruits = {"apple", "banana"}
unique_fruits.add("cherry")
print("Unique fruits set after addition:", unique_fruits)

Unique fruits set after addition: {'banana', 'apple', 'cherry'}

In [123]:
# Removing Elements
unique_fruits.remove("banana")
# unique_fruits.remove("orange")
unique_fruits.discard("orange")
print("Unique fruits set after removal:", unique_fruits)

Unique fruits set after removal: {'apple', 'cherry'}

4. Dictionaries - Indexing, Slicing, Adding elements, Removing Elements

In [128]:
# Indexing 
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Indexing: Accessing values by keys
print(person["name"])  # Output: Alice
print(person["age"])   # Output: 30

Alice
30

In [136]:
# slicing
# Original dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "occupation": "Engineer",
    "hobby": "Reading"
}

# Conceptual slicing: creating a new dictionary with selected keys
subset = {k: person[k] for k in ("name", "age")}
print(subset)  # Output: {'name': 'Alice', 'age': 30}

{'name': 'Alice', 'age': 30}

In [138]:
# Adding 
# Original dictionary
person = {
    "name": "Alice",
    "age": 30
}

# Adding a new key-value pair
person["city"] = "New York"
print(person)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Adding another key-value pair
person["occupation"] = "Engineer"
print(person)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

In [142]:
# Removing
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Removing an element using del
del person["city"]
print(person)  # Output: {'name': 'Alice', 'age': 30}

{'name': 'Alice', 'age': 30}

In [144]:
# pop():
# Original dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Removing an element using pop() and capturing the removed value
removed_value = person.pop("age")
print(removed_value)  # Output: 30
print(person)  # Output: {'name': 'Alice', 'city': 'New York'}

30
{'name': 'Alice', 'city': 'New York'}

# Explore built-in methods for each data structure.

1. Lists - append(), insert(), remove(), pop(), sort(), reverse()

In [150]:
fruits = ["apple", "banana", "cherry"]

# append(item): Adds an item to the end of the list.
fruits.append("Mango")
print(fruits) # Output: ['apple', 'banana', 'cherry', 'Mango']

# insert(index, item): Inserts an item at a specified index.
fruits.insert(1, "blueberry")
print(fruits)  # Output: ['apple', 'blueberry', 'banana', 'cherry', 'date']

# remove(item): Removes the first occurrence of an item.
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'blueberry', 'cherry', 'date']

# pop(index): Removes and returns the item at the specified index.
last_fruit = fruits.pop()
print(last_fruit)  # Output: date
print(fruits)      # Output: ['apple', 'blueberry', 'cherry']

# sort(): Sorts the list in ascending order.
fruits.sort()
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

# reverse(): Reverses the order of the list.
fruits.reverse()
print(fruits)  # Output: ['cherry', 'blueberry', 'apple']

['apple', 'banana', 'cherry', 'Mango']
['apple', 'blueberry', 'banana', 'cherry', 'Mango']
['apple', 'blueberry', 'cherry', 'Mango']
Mango
['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry']
['cherry', 'blueberry', 'apple']

2. Tuples - count(), index()

In [155]:
colors = ("red", "green", "blue")

# Count occurrences of an item
print(colors.count("red"))  # Output: 1

# Find the index of the first occurrence of an item
print(colors.index("green"))  # Output: 1

1
1

3. Sets - add(), remove(), discard(), union(), intersection()

In [158]:
numbers = {1, 2, 3, 4, 5}

# add(item): Adds an item to the set.
numbers.add(6)
print(numbers)  # Output: {1, 2, 3, 4, 5, 6}

# Remove an item
numbers.remove(3)
print(numbers)  # Output: {1, 2, 4, 5, 6}

# Discard an item (no error if the item is not present)
numbers.discard(10)  # Does not raise an error

# Union with another set
other_numbers = {5, 6, 7, 8}
combined = numbers.union(other_numbers)
print(combined)  # Output: {1, 2, 4, 5, 6, 7, 8}

# Intersection with another set
intersection = numbers.intersection(other_numbers)
print(intersection)  # Output: {5, 6}

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6, 7, 8}
{5, 6}

4. Dictionaries - get(), keys(), values(), items(), update(), pop()

In [162]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

In [164]:
# get(key, default): Returns the value for the specified key. If the key is not found, it returns the default value.
print(person.get("name"))  # Output: Alice
print(person.get("gender", "Not specified"))  # Output: Not specified

# keys(): Returns a view of all keys in the dictionary.
print(person.keys())  # Output: dict_keys(['name', 'age', 'city'])

# values(): Returns a view of all values in the dictionary.
print(person.values())  # Output: dict_values(['Alice', 30, 'New York'])

# items(): Returns a view of all key-value pairs in the dictionary.
print(person.items())  # Output: dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

# update(other_dict): Updates the dictionary with key-value pairs from another dictionary.
person.update({"age": 31, "gender": "Female"})
print(person)  # Output: {'name': 'Alice', 'age': 31, 'city': 'New York', 'gender': 'Female'}

# pop(key): Removes the specified key and returns its value.
age = person.pop("age")
print(age)      # Output: 31
print(person)   # Output: {'name': 'Alice', 'city': 'New York', 'gender': 'Female'}

Alice
Not specified
dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 30, 'New York'])
dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])
{'name': 'Alice', 'age': 31, 'city': 'New York', 'gender': 'Female'}
31
{'name': 'Alice', 'city': 'New York', 'gender': 'Female'}