# Reading CSV files

# Read CSV files into Pandas DataFrames.

1. Install Pandas

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\rajsh\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rajsh\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rajsh\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rajsh\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rajsh\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rajsh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

2: Import Pandas

In [13]:
import pandas as pd

In [ ]:
# Sample CSV File
name,age,city
Alice,30,New York
Bob,25,Los Angeles
Charlie,35,Chicago

3. Read a CSV File

In [ ]:
df = pd.read_csv('C:\\Users\\rajsh\\Desktop\\NCPL\\samplecsvdata.csv')

1: Basic CSV Reading

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame #df = pd.read_csv('C:\\Users\\rajsh\\Desktop\\NCPL\\samplecsvdata.csv')
df = pd.read_csv('data.csv') #

# Display the DataFrame
print(df)

2: Displaying Data Types

In [ ]:
print(df.dtypes)

4. Common Parameters for read_csv()

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv(
    'data.csv',
    sep=',',  # Separator
    header=0,  # Use the first row as the header
    index_col=None,  # No specific index column
    usecols=['name', 'age'],  # Read only the 'name' and 'age' columns
    dtype={'age': int}  # Ensure 'age' is read as an integer
)

# Print the DataFrame
print(df)

5. Handling Missing Values

In [ ]:
# Sample CSV data with missing values
csv_data_with_missing = """name,age,city
Alice,30,New York
Bob,,Los Angeles
Charlie,35,Chicago
Diana,,Houston
"""

# Write the sample data to a CSV file
with open('data_with_missing.csv', 'w') as f:
    f.write(csv_data_with_missing)

# Explore different CSV reading options and parameters.

# sep or delimiter: Specify the delimiter used in the CSV file. The default is a comma (,).
df = pd.read_csv('file.csv', sep=';')  # For semicolon-delimited files

# header: Specify which row to use as the column names. The default is 0 (the first row). Use None if there is no header.
df = pd.read_csv('file.csv', header=None)  # Treat first row as data, not header

# names: Use this parameter to set custom column names when the CSV file does not have a header. 
df = pd.read_csv('file.csv', names=['col1', 'col2', 'col3'])

# index_col: Specify a column to use as the row labels of the DataFrame. Use None to not use any column as the index.
df = pd.read_csv('file.csv', index_col=0)  # Use the first column as index

# usecols: Specify a subset of columns to read. This can be a list of column names or their indices.
df = pd.read_csv('file.csv', usecols=['col1', 'col3'])  # Only read specific columns

# dtype: Specify the data types for the DataFrame columns.
df = pd.read_csv('file.csv', dtype={'col1': int, 'col2': float})

# skiprows: Skip a specified number of rows at the start of the file.
df = pd.read_csv('file.csv', skiprows=2)  # Skip the first two rows

# na_values: Specify additional strings to recognize as NA/NaN.
df = pd.read_csv('file.csv', na_values=['NA', 'N/A', 'missing'])

# fillna: You can fill missing values directly after reading.
df = pd.read_csv('file.csv').fillna(0)  # Replace NaN with 0

# parse_dates: Automatically parse dates. You can specify the column(s) to parse.
df = pd.read_csv('file.csv', parse_dates=['date_column'])

# low_memory: If the dataset is large, set this to False to read the entire file at once, which may help with type inference.
df = pd.read_csv('file.csv', low_memory=False)

# encoding: Specify the encoding to use for reading the file.
df = pd.read_csv('file.csv', encoding='utf-8')  # Default is 'utf-8'

# Handle missing values and data cleaning

1. Detecting Missing Values

In [30]:
# Sample DataFrame
data = {
'name': ['Alice', 'Bob', None, 'Charlie'],
'age': [30, None, 25, 35],
'city': ['New York', 'Los Angeles', 'Chicago', None]
}
df = pd.DataFrame(data)
# Check for missing values
print(df.isnull())

    name    age   city
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True

2. Summarizing Missing Values

In [33]:
missing_count = df.isnull().sum()
print("Missing Values Count:\n", missing_count)

Missing Values Count:
 name    1
age     1
city    1
dtype: int64

3. Dropping Missing Values

In [36]:
# Drop rows with any missing values
df_cleaned = df.dropna()
print(df_cleaned)

    name   age      city
0  Alice  30.0  New York

4. Filling Missing Values

In [39]:
df_filled = df.fillna({'name': 'Unknown', 'age': 0, 'city': 'Unknown'})
print(df_filled)

      name   age         city
0    Alice  30.0     New York
1      Bob   0.0  Los Angeles
2  Unknown  25.0      Chicago
3  Charlie  35.0      Unknown

5. Removing Duplicates

In [42]:
# Sample DataFrame with duplicates
data_with_duplicates = {
'name': ['Alice', 'Bob', 'Alice', 'Charlie'],
'age': [30, 25, 30, 35]
}
df_duplicates = pd.DataFrame(data_with_duplicates)
# Remove duplicates
df_no_duplicates = df_duplicates.drop_duplicates()
print(df_no_duplicates)

      name  age
0    Alice   30
1      Bob   25
3  Charlie   35

6. Renaming Columns

In [45]:
df_renamed = df.rename(columns={'name': 'Name', 'age': 'Age'})
print(df_renamed)

      Name   Age         city
0    Alice  30.0     New York
1      Bob   NaN  Los Angeles
2     None  25.0      Chicago
3  Charlie  35.0         None